@import "../../global.scss";

.works{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        color: white;
        font-size: 100px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            color: black;
            font-size: 40px;
            margin-top: 415px;
        }

        &.left{
            left: 100px;
        }
        &.right{
            right: 100px;

        }
    }

    .slider{
        height: 500px;
        //width: 450px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobile{
                   width: 90%;
                   height: 490px;
                }

                .left{
                    flex: 7;
                    height: 80%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-left: 15px;

                        @include mobile{
                            height: 100%;
                            padding-left: 0;
                        }
                    

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: lightblue;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 30px;

                            }
                        }
                    }

                    h2{
                        font-size: 30px;
                        overflow: hidden;

                        @include mobile{
                            font-size: 25px;
                        }
                    }
                    p{
                        font-size: 15px;
                        
                    }
                    a{
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: underline;
                        color: inherit;
                        cursor: pointer;
                    }
                }
                .right{
                    flex: 8;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile{
                        flex: 4;
                        padding-right: 5px;
                    }

                    img{
                        width: 300px;
                    }

                }
            }
        }  
    }
}